script.
		var translateConfig = {
			eng: {
				secure_wallet: 'Secure Wallet',
				exchange: 'Exchange',
				margin_trading: 'Margin trading',
				news: 'News',
				support: 'Support',
				knowledge_base: 'Knowledge Base',
				login: 'Log in',
				signup: 'Sign up',
				create_trading_platform: 'Create Trading Platform',
				slider_text1: '<span> CREATE </span><span> YOUR OWN CRYPTO</span> <span> EXCHANGE PLATFORM</span>',
				slider_text2: '<span> BITCOIN </span> <span> IS FALLING</span>',
				slider_descr1: 'Everyone can create his own cryptocurrency exchange platform in 30 minutes.',
				slider_descr2: 'Why bitcoin and other cryptocurrencies are falling. Opinions of representatives of the industry.',
				read: 'read',
				title1: 'CRYPTO TRADING PLATFORM <br> WHAT YOU NEED!',
				subtitle1: 'What New on Crypto?', 
				title2: 'WHY WE ARE BETTER THAN ANOTHER <br> 100000+ PLATFORMS? ',
				about: 'ABOUT',
				about_img_text1: 'Vestibulum rutrum quam vitae fringilla tincidunt.',
				about_text1: '98% of all funds are stored offline. Our trading platform is a network of secure protected microservices written in Golang.',
				about_img_text2: 'Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. ',
				about_text2: 'Each trading pair is a dedicated microservice written in go that is capable to run more than a million transactions per a second. We use in-memory storage to store all operations and our own data storage system to handle fast trading operations.',
				about_img_text3: 'Cras quis nulla commodo, aliquam lectus sed, blandit augue.',
				about_text3: 'Everyone can create his own cryptocurrency exchange platform in 30 minutes.',
				title3: 'THIS IS <br> OUR PLAN',
				road: 'ROAD',
				roadmap_text1: 'Start of development <br>Exchange #2',
				roadmap_text2: 'First introduction to the public Interviewing potential users',
				roadmap_text3: 'Запуск онлайн кошелька для <br> криптовалют',
				roadmap_text4: 'Старт работы <br> криптовалютной биржи',
				roadmap_text5: 'Начало работы с фиатными валютами на <br> криптовалютной бирже',
				march: 'MARCH',
				june: 'JUNE',
				september: 'September',
				october: 'October',
				november: 'NOVEMBER',
				january: 'JANUARY',
				july: 'JULY',
				title4: 'Our <br> Friendly services',
				partners: 'PARTNERS',
				partners_text1: ' The monkey-rope is found in all whalers; but it was only in the Pequod that the monkey and his holder were ever tied together.',
				partners_text2: ' The monkey-rope is found in all whalers; but it was only in the Pequod that the monkey and his holder were ever tied together.',
				partners_text3: ' The monkey-rope is found in all whalers; but it was only in the Pequod that the monkey and his holder were ever tied together.',
				partners_text4: ' The monkey-rope is found in all whalers; but it was only in the Pequod that the monkey and his holder were ever tied together.',
				partners_text5: ' The monkey-rope is found in all whalers; but it was only in the Pequod that the monkey and his holder were ever tied together.',
				partners_text6: ' The monkey-rope is found in all whalers; but it was only in the Pequod that the monkey and his holder were ever tied together.',
				title5: 'Feel Free to <br> contant US',
				contacts: 'CONTACTS',
				type_something: 'Type something',
				title_news: 'NEWS',
				news_text: 'Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scelerisque ligula. Maecenas eu varius risus, eu aliquet arcu. Curabitur fermentum suscipit est, tincidunt mattis lorem luctus id. Donec eget massa a diam condimentum pretium. Aliquam erat volutpat. Integer ut tincidunt orci. Etiam tristique, elit ut consectetur iaculis, metus lectus mattis justo, vel mollis eros neque quis augue. Sed lobortis ultrices lacus, a placerat metus rutrum sit amet. Aenean ut suscipit justo.',
				more_news: 'More News',
				back_to_news: 'Back to News',
				create_your_account: 'Create Your Account',
				become_ex_platform_partner: 'Become <br> exchange platform <br> owner',
				start_your_trade_now: 'START YOUR TRADE NOW',
				take_your_ticket_here: 'Take Your Ticket here',
				we_answer_within: 'We answer within 30 seconds! No answering machines or robots. Communicate only with living people.',
				upload_your_screens: 'Upload your screens',
				send: 'Send',
				you_can_also_find: 'You can also find answers to your questions here.',
				knowledge_menu0: 'General',
				knowledge_menu1: 'Account security',
				knowledge_menu2: 'Finance',
				knowledge_menu3: 'How to trade',
				knowledge_menu4: 'Deposit/Withdraw',
				knowledge_menu5: 'Cashback',
				knowledge_menu6: 'Chat',
				knowledge_menu7: 'Verification',
				knowledge_menu8: 'Other',
				if_you_cant_find: 'If you can’t find the answers, write to us',
				send_ticket: 'Send Ticket',
				or_go_to: 'or go to'
			}, 
			ru: {
			
			},
			cn: {
				
			}	
		};