extends ../layout.pug
include ../parts/footer

block content
	main.main
		section.section.news-section
			.container
				.main-title
					span(data-translate="news")
					
					.filter
						.dropdown(data-dropdown)
							.dropdown__value(data-dropdown-value data-translate="september") September
							.dropdown__list
								.dropdown__list__item(data-dropdown-item data-translate="september") September
								.dropdown__list__item(data-dropdown-item data-translate="october") October
						.dropdown(data-dropdown)
							.dropdown__value(data-dropdown-value) 2019
							.dropdown__list
								.dropdown__list__item(data-dropdown-item) 2019
								.dropdown__list__item(data-dropdown-item) 2020
				.news-list
					each val in [1,2,3,4]
						.news-list__item
							.news-list__item__img(style='background: url(img/chains.jpg)' data-translate="slider_text1")
							.news-list__item__date 18.09.2019
							.news-list__item__text(data-translate="news_text")
							a(href="news_single.html" data-translate="read").news-list__item__link

				.more-news(data-translate="more_news")
	include ./../translate.pug

block footer
	+footer({showMouse: false, initClass: ''})