extends ../layout.pug
include ../parts/footer

block content
	main.main
		section.section.support-section.offset
			.container
				.main-title
					span(data-translate="support")
				
				.support-container
					.support-left
						.support-title(data-translate="take_your_ticket_here")
						.support-subtitle(data-translate="we_answer_within")

						form.form#support-form(novalidate)
							.input
								input(type="email" data-pattern='email' name='email' placeholder='Email' data-error-msg='Email is invalid' required maxlength="50")
								.icon
							.input
								input(type="text" placeholder="Ticket Theme" name="theme" data-error-msg='Type something' required maxlength="100")
								.icon
							.textarea
								textarea(placeholder="About problem or quastion" name="text" maxlength="1000" data-error-msg='Type something' required)
								.icon

							.fileupload 
								.fileupload-wrapper 
									img(src="img/Upload.svg", alt="")
									span(data-translate="upload_your_screens")
									input(type="file" data-error-msg='Upload file' name="files" required multiple )
									.fileupload-wrapper__list

							button.btn-main(type="submit" disabled data-translate="send") 
					.support-right
						.support-title(data-translate="you_can_also_find")
						ul
							li 
								a(href="faq.html") 
									img(src="img/question.svg", alt="")
									| FAQ
							li
								a(href="knowledge.html")
									img(src="img/Help.svg", alt="")
									span(data-translate="knowledge_base")

		include ./../parts/main-footer.pug
	include ./../translate.pug

block footer
	+footer({showMouse: false, initClass: ''})