.faq-page {
  overflow: auto;
  .footer-socials {
    @media screen and (max-width: 600px) {
      display: none;
    }
  }
  .faq-section {
    height: auto;
    .faq-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 800px;
      margin: 28px auto 0;
    }

    .faq-single-list {
       &__title {
         font-family: Montserrat;
         font-size: 18px;
         font-weight: bold;
         line-height: 1.33;
       }
       .accordeon {
          margin-top: 40px;
          @media screen and (max-width: 768px) {
             margin-top: 25px;
             padding: 0;
          }
          @media screen and (max-width: 480px) {
             margin-top: 15px;
          }
          &-title {
             padding-left: 0;
             margin-bottom: 25px;
             @media screen and (max-width: 768px) {
                margin-bottom: 18px;
                font-weight: 400;
                font-size: 16px;
             }
             @media screen and (max-width: 480px) {
               font-size: 14px;
            }
            &:after {
               display: none;
            }
          }
          &-content {
             display: none;
             padding-left: 80px;
             padding-bottom: 80px;
             @media screen and (max-width: 980px) {
               padding-left: 50px;
               padding-bottom: 50px;
             }
             @media screen and (max-width: 768px) {
                padding-left: 0;
                padding-bottom: 35px;
             }
          }
       }
    }

    .accordeon {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
  
      @media screen and (max-width: 480px) {
        padding-left: 5px;
        display: block;
      }
      &-wrapper {
        width: calc(50% - 20px);
        margin-bottom: 40px;
        @media screen and (max-width: 768px) {
          margin-bottom: 25px;
        }

        @media screen and (max-width: 480px) {
          width: 100%;
        }
      }
      &-title {
        font-family: Montserrat;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.33;
        color: #000;
        margin-bottom: 10px;
        position: relative;
        padding-left: 17px;
        width: 100%;

        @media screen and (max-width: 768px) {
          font-size: 16px;
        }
        &.active {
            color: #56a54b;
          &:after {
            border: solid #56a54b;
            border-width: 0 1px 1px 0;
            transform: rotate(225deg);
            -webkit-transform: rotate(225deg);
          }
        }
        cursor: pointer;

        &:after {
          content: "";
          bottom: -6px;
          border: solid #000;
          border-width: 0 1px 1px 0;
          display: inline-block;
          padding: 2px;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          position: absolute;
          left: 0;
          margin: auto;
          display: block;
          top: 0;
          bottom: 0;
          width: 0;
          height: 0;
          transition: 0.1s;
        }
      }
      &-content {
        padding-left: 18px;
        color: #000;
        font-size: 14px;
        @media screen and (max-width: 768px) {
          font-size: 12px;
        }
        a {
          display: block;
          margin: 4px 0;
          &:hover {
            text-decoration: underline;
          }
        }
        img {
           height: 356px;
           width: 100%;
           display: block;
           object-fit: cover;
           margin-top: 50px;
           @media screen and (max-width: 980px) {
            margin-top: 35px;
           }
           @media screen and (max-width: 768px) {
               height: 50vw;
           }
           @media screen and (max-width: 480px) {
            margin-top: 25px;
         }
           & + p {
              margin-top: 20px;
              @media screen and (max-width: 980px) {
                 margin-top: 15px;
              }
           }
        }
      }
    }

    .faq-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // margin-top: 80px;
      max-width: 700px;
      margin: 80px auto 0;
      @media screen and (max-width: 768px) {
        margin: 40px auto 0;
      }
      @media screen and (max-width: 480px) {
        flex-wrap: wrap;
        justify-content: center;
      }
      .btn-main {
        margin-left: 20px;
        @media screen and (max-width: 480px) {
          margin: 20px auto 0;
        }
      }
      .tip {
        width: 100%;
        // margin-top: 80px;
        // margin-bottom: 15px;
        @media screen and (max-width: 768px) {
          //   margin-top: 40px;
        }
        & ~ .tip {
          //   margin-top: 10px;
        }
      }
    }
  }
}
